<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Zombie probability:</b>
  <%= @place.zombie_probability %>
</p>

<p>
  <b>Latitude:</b>
  <%= @place.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @place.longitude %>
</p>

<p>
  <b>Has weapon:</b>
  <%= @place.has_weapon %>
</p>

<p>
  <b>Has food:</b>
  <%= @place.has_food %>
</p>

<p>
  <b>Has people:</b>
  <%= @place.has_people %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
